@model IEnumerable<ModelClient.Models.Film>

@{
    ViewBag.Title = "View";

}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "AddFilm")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActeurPrincipal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Realisateur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnneeDeSortie)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActeurPrincipal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Realisateur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnneeDeSortie)
        </td>
        <td>
            @Html.ActionLink("Edit", "Update", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
